// #TYPOGRAPHY

%alpha {
	font-family: Roboto, sans-serif;
}

%beta {
	font-family: Oswald, sans-serif;
}

%lh-1-66 	{ line-height: 1.66; }
%lh-1-5 	{ line-height: 1.5; }
%lh-1-33 	{ line-height: 1.33; }
%lh-1-25 	{ line-height: 1.25; }
%lh-1 		{ line-height: 1; }

%fs-16 {
	@extend %lh-1-5;
	font-size: 16px;
}

%fs-24 {
	@extend %lh-1-66;
	font-size: 24px;
}

%fs-30 {
	@extend %lh-1-33;
	font-size: 30px;
}

%fs-36 {
	@extend %lh-1-25;
	font-size: 36px;
}

%fs-42 {
	@extend %lh-1-25;
	font-size: 42px;
}

body {
	@extend %alpha;
	font-size: 14px;
	line-height: 1.5;
	color: $gray;

	@include query-above($lap) {
		border: $gutter/2 solid black;
	}
}

html {
	font-size: percentage($base-font-size / 16px);
	line-height: $base-line-height / $base-font-size;
}

.screen-reader-text,
.posts-navigation,
.entry-footer {
	display: none;
}

.hyphening {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}



/* Headings */

h1, %h1, h2, %h2, h3, %h3, h4, %h4, h5, %h5 {
	color: $dark;
	font-weight: normal;
}

h1, %h1 { 
    @extend %beta;
	@extend .caps;

    font-size: rem(30px);
    line-height:1.25;
    margin-top: rhythm(2);
    margin-bottom: rhythm(1);
}

h2, %h2 {
    @extend %beta;
	@extend .caps;

    font-size: rem(24px);
    line-height: 1.25;
    margin-top: rhythm(2);
    margin-bottom: rhythm(1);
}

h3, %h3 {
    @extend %beta;

    font-size: rem(24px);
	font-weight: 200;
    margin-top: rhythm(2);
    margin-bottom: rhythm(1);
}

h4, %h4 {
	@extend %beta;
	@extend .caps;

	color: $dark;
    font-size: rem(14px);
    margin-top: rhythm(2);
    margin-bottom: rhythm(1);
}

h5, %h5 {
	@extend %alpha;
	@extend .caps;

	font-size: rem(11px);
	margin-top: rhythm(2);
	margin-bottom: rhythm(1);
}




/* Paragraphs */

p {
	margin-top: 0;
	// font-size: 1rem;

    @if $editor-style {
    	margin-bottom: rhythm(1.5);
    } @else {
    	margin-bottom: rhythm(1);
    }
}





/* Links */

// Smarter Links Underlines

%smarter-links-underlines {
	// http://www.acusti.ca/blog/2014/11/28/towards-a-more-perfect-link-underline/
	
	text-decoration: none;
	
    // Underline via gradient background
    background-image: linear-gradient(rgba($black, 0.25) 0%, $black 100%);
    background-repeat: repeat-x; 
    background-size: 1px 1px;
    background-position: 0 95%;

    // Tweak position + thickness for high res (1.75x and up) displays
    @media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
      background-image: linear-gradient(rgba($black, 0.25) 0%, $black 100%);
      background-position: 0 93%;
    }

    // Clear descendors from underline
    text-shadow: 3px 0 white, 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white, -3px 0 white;
    
    &:hover {
      background-image: linear-gradient(to bottom, $accent 0%, $accent 100%);
    }
}

a {
	text-decoration: none;
	color: $black;
	font-weight: 400;
	
	transition: all 0.15s;

	h1 &, .site-title &, h2 &, h3 & {
		color: $accent; 
	}


	&:hover {
		color: $accent;
	}

	 @if $editor-style { 
	 	.mce-content-body & {
			@extend %smarter-links-underlines;
		}	
	 }
    	@else { 
			.single .entry-content &, .page .entry-content & {
				@extend %smarter-links-underlines;

				&[href~="jpg"], &[href~="jpeg"], &[href~="gif"], &[href~="png"] {
					background: none;
					text-shadow: none;
				}
			}
    	}

	.edit-link & {
		margin: 0 $u/4;
	}
}





/* Lists */

acronym {
	border-bottom: 1px dotted $gray;
}





/* Blockquotes */





/* Tables */

table {
	position: relative;
	z-index: 1;
	@include rhythm(margin-bottom, 2);
	width: 100%;
	border-top: 0;

	table-layout: fixed;

	th {
		text-align: left;
	}

	tr {
		// @todo why not use table--rows?
		border-bottom: 1px solid $light;
	}

	th, td {
		padding: $u/2;
		vertical-align: middle;

		font: {
			family: inherit;
			size: inherit;
		}
	}
}





/* Code */

pre {
	position: relative;

	@include rhythm(padding-left, 3);
	@include rhythm(padding-right, 3);
	@include rhythm(padding-top, 2);
	@include rhythm(padding-bottom, 2);
	@include rhythm(margin-bottom, 2); 

	border: 1px solid $light;

	@if $editor-style {
		font-size: inherit;
		line-height: inherit;
	}

	@if $editor-style == false{
		&:before {
			content: "\f121";

			position: absolute;
			top: 0;
			left: 0;

			display: block;
			padding: 3px;

			font-family: FontAwesome;
			font-size: 14px;

			color: white;
			background: $light;
		}
	}
}