$gutter: 30px;

.hyphening {
	-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
}

.grid {
	@extend .clearfix;
	border-right: $gutter solid transparent;
	margin: 0 96px;
}

.grid__item {
	width: 25%;
	float: left;
	border-left: $gutter solid transparent;
	margin-bottom: $gutter;
}

.grid,
.grid__item {
	border-color: rgba(yellow, 0.25); 
}

// %image--landscape

.entry-image {
	display: block;

	img {
		width: 100%;
	}

	&--landscape,
	&--tall,
	&--portrait	{
		margin-left: -$gutter;
		margin-right: $gutter;
	}

	&--tall,
	&--portrait {
		float: left;
		max-width: 50%;

		.col:nth-child(2n) & {
			float: right;
			margin-left: 0;
			margin-right: -$gutter;
			margin-left: $gutter;
		}
	}

	&--square,
	&--square ~ * {
		margin: 0 $gutter;
	}

	&--wide {
		margin: 0 #{-$gutter};
	}
}

.entry-header {
	background: black;
	color: white;
	margin-left: $gutter;
	margin-right: $gutter;
	padding: $gutter/2;
	padding-left: $gutter;
	text-transform: uppercase;

	.entry-image + & {
		background: none;
		color: black;
		padding: 0;
	}

	.entry-image--square + & {
		margin: 0 $gutter;
	}

	a {
		color: currentColor;
		text-decoration: none;
	}
}

.entry-content {
	margin: 0 $gutter;
}

.entry-title {
	@extend .hyphening; 
}

.entry-footer {
	display: none;
}