.entry-image {
	display: block;
	margin-bottom: $gutter/2;

	&--landscape {
		margin-left: -$gutter;
		margin-right: $gutter;
	}

	&--tall,
	&--portrait {
		margin-left: -$gutter;
		margin-right: $gutter/2;
		float: left;
		max-width: 35%;

		@include query-above($small) {
			max-width: 50%;
		}

		& ~ .entry-block {
			margin-right: -$gutter;
			padding-right: $gutter;

			.entry--even & {
				margin-right: 0;
				padding-right: 0;				
				margin-left: -$gutter;
				padding-left: $gutter;				
			}
		}
	}

	&--tall,
	&--portrait	{
		margin-right: $gutter/2;
		position: relative;
		z-index: 40;

		// hard work man
		~ .entry-header.entry-header {
			padding-top: $gutter;
			margin-top: -$gutter;
		}

		~ .entry-content {
			padding-bottom: $gutter;
			margin-bottom: -$gutter;
		}

		~ .entry-block {
			position: relative;
			z-index: 30;
		}
	}

	&--wide {
		margin: 0 #{-$gutter};
	}

	&--landscape,
	&--tall, 
	&--portrait	{
		margin-left: -$gutter;
	}

	&--landscape {
		margin-right: -$gutter;
	}


	@include query-above($small) {
		margin-right: $gutter;

		&--square,
		&--square ~ * {
			margin-left: $gutter;
			margin-right: 2*$gutter;
		}

		&--wide {
			margin: 0 #{-$gutter};
		}
	}

	img {
		-webkit-filter: saturate(0) contrast(1.2);
		display: block;
		width: 100%;
	}
}

.entry-block {
	margin: 0 $gutter;
}

.entry-header {
	@extend .entry-block;
	margin-left: -$gutter;
	margin-right: $gutter;
	padding: $gutter/2;
	padding-left: 2*$gutter;
	background: black;
	color: white;
	text-transform: uppercase;

	@include query-above($small) {
		margin-right: $gutter;
	}

	.entry-image + & {
		background: white;
		color: black;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-left: $gutter;
	}

	@include query-below($lap){
		.entry-image--landscape + &,
		.entry-image--wide + & {
			margin-right: $gutter;
		}
	}

	.entry-image--square + & {
		margin: 0 $gutter;
	}

	a {
		color: currentColor;
		text-decoration: none;
	}
}

.entry-content {
	@extend .entry-block;
	background: white;
}

.entry-title {
	@extend .beta;
	font-weight: bold;
}

.entry--even {
	position: relative;
	z-index: 20;

	.entry-image {
		float: right;
		margin-left: $gutter/2;
		margin-right: -$gutter;

		& ~ .entry-block {
			margin-left: -$gutter;
			margin-right: $gutter;
		}
	}

	.entry-block {
		text-align: right;
	}
} 