
// #CARDS
// Masonry Archive Posts

@mixin spacings($gutter) {

	.entry-image--landscape {
		margin-left: -$gutter;
		margin-right: $gutter;
	}

	.entry-image--tall,
	.entry-image--portrait {
		margin-left: -$gutter;

		// hard work man
		~ .entry-header.entry-header {
			// padding-top: $gutter;
			// margin-top: -$gutter;
		}

		~ .entry-content {
			padding-bottom: $gutter;
			// margin-bottom: -$gutter;
		}
	}

	.entry-image--wide {
		margin: 0 #{-$gutter};
	}


	.entry-image--landscape,
	.entry-image--tall, 
	.entry-image--portrait	{
		margin-left: -$gutter;
	}

	.entry-image--landscape {
		margin-right: $gutter;
	}

	.entry-image--square,
	.entry-image--square ~ * {
		margin-left: $gutter;
		margin-right: 2*$gutter;
	}

	.entry--even {

		.entry-image--tall,
		.entry-image--portrait {

			& ~ .entry-block {
				margin-left: -$gutter;
				padding-left: $gutter;				
			}
		}

		.entry-image {
			margin-left: $gutter/2;
			margin-right: -$gutter;
		}

		.entry-image ~ .entry-block {
			margin-left: -$gutter;
			margin-right: $gutter;
		}
	}

	.entry-block {
		margin-left: $gutter;
		margin-right: $gutter;
	}

	.entry-header {
		margin-left: -$gutter;
		margin-right: $gutter;
		padding-left: 2*$gutter;
	}

	.entry-image--square + .entry-header {
		margin-left: $gutter;
		margin-right: $gutter;
	}

	.entry-image + .entry-header {
		margin-left: $gutter;
	}
}

.blog, .archive, .search {

	.entry-header {
		padding: 20px;
		border-bottom: $gutter/2 solid white;
		background: black;
		color: white;

		@include query-above($small) {
			margin-right: $gutter;
		}
	}

	.page-header {
		margin-top: 0;
	}

	.page-title {
		margin-top: 0;
	}

	@include spacings($gutter/2);

	@include query-above($lap) {
		@include spacings($gutter);	
	}
}

.entry-card {
	@extend .clearfix;
	position: relative;
	transform: translateZ(0);
	transition: transform 0.3s;
	opacity: 0;
	
	// Post Meta (categories, author and date)
	.entry-meta {
		position: absolute;
		top: 0;
		left: 0;

		margin-left: $gutter;
		margin-right: $gutter;

		@extend %alpha;
		font-size: 11px;
		font-weight: 400;
		letter-spacing: 0;

		opacity: 0;
		transition: all 0.3s;
	}

	.entry-time {
		display: none;
	}

	.entry-content {
		background: white;

		font-size: rem(14px);

		p {
			margin-bottom: rem(15px);
		}
	}


	&:hover {
		transform: translateY($gutter/2);

		.entry-meta {
			opacity: 1;
			transform: translateY(-$gutter);
		}

		.entry-image {

			img {
				// opacity: 0.8;
				filter: grayscale(1);
			}

			.hover {
				opacity: 1;
			}
		}
	}
}


.entry-image {
	position: relative;
	z-index: 32; //over .entry-meta
	display: block;

	background: black;

	@include query-above($small) {
		margin-right: $gutter;

		&--wide {
			margin: 0 #{-$gutter};
		}
	}

	img {
		display: block;
		width: 100%;

		filter: grayscale(0);
		transition: all 0.3s;
	}

	.hover {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		z-index: 100;

		color: white;

		opacity: 0;

		transition: all 0.3s;
	}
}

.entry-image--tall,
.entry-image--portrait {
	float: left;
	max-width: 35%;
	margin-right: $gutter/2;
	position: relative;
	z-index: 40;
	margin-bottom: $gutter/3;

	~ .entry-block {
		position: relative;
		z-index: 30;
	}

	+ .entry-header {
		margin-top: 0 !important;
	}

	@include query-above($small) {
		max-width: 50%;
	}
}

.entry-header {
	@extend .entry-block;
	// text-transform: uppercase;

	.entry-card & .entry-title{
		color: white;
	}

	.entry-image + & {
		background: white;
		color: black;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0; 

		margin-top: 20px;
		border-bottom: 5px solid white;

		.entry-title {
			color: $dark;
		}
	}

	a {
		color: currentColor;
		text-decoration: none;
	}
}

.entry-title {
	@extend %beta;
	font-weight: normal;
	margin: 0;
}

.entry-content {
	@extend .entry-block;	
}

.entry--even {
	position: relative;
	z-index: 20;

	.entry-image {
		float: right;
		margin-left: $gutter/2;
	}

	.entry-image--tall,
	.entry-image--portrait {
		margin-right: 0;
		padding-right: 0;		
	} 

	.entry-block {
		text-align: right;
	}
} 

@include query-below(400px) {

	.entry-header {
		padding-left: $gutter;
		margin-right: $gutter/2;
	}

	.entry-image + .entry-header {
		margin-left: 0;
		margin-right: 0;
	}

	.entry-content {
		margin-left: 0;
		margin-right: 0;
	}

	.entry-image--square {
		margin-left: 0;
		margin-right: $gutter/2;
	}
	
}