@mixin spacings($gutter) {

	.entry-image {

		&--landscape {
			margin-left: -$gutter;
			margin-right: $gutter;
		}

		&--tall,
		&--portrait {
			margin-left: -$gutter;

			& ~ .entry-block {
				margin-right: -$gutter;
				padding-right: $gutter;

				.entry--even & {			
					margin-left: -$gutter;
					padding-left: $gutter;				
				}
			}

			// hard work man
			~ .entry-header.entry-header {
				padding-top: $gutter;
				margin-top: -$gutter;
			}

			~ .entry-content {
				padding-bottom: $gutter;
				// margin-bottom: -$gutter;
			}
		}

		&--wide {
			margin: 0 #{-$gutter};
		}


		&--landscape,
		&--tall, 
		&--portrait	{
			margin-left: -$gutter;
		}

		&--landscape {
			margin-right: -$gutter;
		}

		&--square,
		&--square ~ * {
			margin-left: $gutter;
			margin-right: 2*$gutter;
		}
		
	}

	.entry-block {
		margin-left: $gutter;
		margin-right: $gutter;
	}

	.entry-header {
		margin-left: -$gutter;
		margin-right: $gutter;
		padding-left: 2*$gutter;

		.entry-image--square + & {
			margin-left: $gutter;
			margin-right: $gutter;
		}

		.entry-image + & {
			margin-left: $gutter;
		}
	}

	.entry--even .entry-image {
		margin-left: $gutter/2;
		margin-right: -$gutter;

		& ~ .entry-block {
			margin-left: -$gutter;
			margin-right: $gutter;
		}
	}
}

.blog {

	.entry-header {
		padding: 20px;
		border-bottom: $gutter/2 solid white;
		background: black;
		color: white;


		@include query-above($small) {
			margin-right: $gutter;
		}
	}

	@include spacings($gutter/2);

	@include query-above($lap) {
		@include spacings($gutter);	
	}

}

.single {
	.entry-title {
		@extend %fs-42;
		margin-bottom: $gutter;
	}
}

.entry-card {
	@extend .clearfix;
}

// @todo fucking investigate this
.post {
	// prevents images overlaping margin
	&:before { content: ""; display: block; float: left; }
}

.entry-image {
	display: block;

	&--tall,
	&--portrait {
		float: left;
		max-width: 35%;

		& ~ .entry-block {

			.entry--even & { 
				margin-right: 0;
				padding-right: 0;		
			}
		}

		@include query-above($small) {
			max-width: 50%;
		}
	}

	&--tall,
	&--portrait	{
		position: relative;
		z-index: 40;
		margin-bottom: $gutter/3;

		~ .entry-block {
			position: relative;
			z-index: 30;
		}
	}


	@include query-above($small) {
		margin-right: $gutter;

		&--wide {
			margin: 0 #{-$gutter};
		}
	}

	img {
		display: block;
		width: 100%;
	}
}

.entry-header {
	@extend .entry-block;
	text-transform: uppercase;

	.entry-image + & {
		background: white;
		color: black;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;

		margin-top: 20px;
		border-bottom: 5px solid white;
	}

	a {
		color: currentColor;
		text-decoration: none;
	}
}

.entry-content {
	@extend .entry-block;
	background: white;
}

.entry-title {
	@extend .beta;
	color: black;
	font-weight: normal;
}

.entry--even {
	position: relative;
	z-index: 20;

	.entry-image {
		float: right;
	}

	.entry-block {
		text-align: right;
	}
} 

.entry-image {
	&--tall,
	&--portrait {
		margin-right: $gutter/2;

		.entry--even & {
			margin-left: $gutter/2;
		}
	}
}

@include query-below(400px) {

	.entry-header {
		padding-left: $gutter;
		margin-right: $gutter/2;
	}

	.entry-image + .entry-header {
		margin-left: 0;
		margin-right: 0;
	}

	.entry-content {
		margin-left: 0;
		margin-right: 0;
	}

	.entry-image--square {
		margin-left: 0;
		margin-right: $gutter/2;
	}
	
}