.flexslider {
	margin-bottom: rem(80px);

	.slides > li:first-child:last-child {
		display: block;
	}

	.post {
		@extend .card;
	}


	.entry-title.entry-title {
		font-size: rem(45px);
		line-height: 1.11;
		margin-bottom: rhythm(2/3);
	}

	.entry-header {
		max-width: 45em;
	}

	.entry-content {
		max-width: 35em;
	}

	.wide + .narrow {
		margin-top: rem(-10px);
	}
	
	.entry-content {
		@extend .align-center;
	}

	.flag__img {
		img {
			margin: 0 auto;
		}
	}

	.archive-layout--column & {
		padding-bottom: rem($gutter-desk);
		border-bottom: 3px solid transparent;
		margin-bottom: rem($gutter-desk);
	}

	@include query-below($lap) {
		.flag__img,
		.flag__body {
			display: block;
		}

		.flag__img {
			width: 100%;
			margin-bottom: rem($gutter);
			padding-right: 0;
		}
	}

	@include query-below($desk) {
		.entry-title.entry-title {
			font-size: rem(30px); 
		}

		.flag__img {
			text-align: center;
		}
	}

}

.featured-content--scroll {

	.flexslider {
		width: 100%;
		padding-left: rem($gutter);
		padding-right: rem($gutter);
		margin-bottom: rem($gutter);

		.entry-meta,
		.divider {
			display: none;
		}

		.entry-title {
			font-size: rem(30px);
			line-height: inherit;
		}

		.slides {
			white-space: nowrap;
			margin-bottom: 0;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;

			> li {
				vertical-align: top;
				display: inline-block;
				white-space: normal;

				&:first-child {
					margin-left: 0;
				}
			}

			&:after {
				content: "";
				display: inline-block;
				width: rem($gutter);
			}
		}

		.flag,
		.flag__img,
		.flag__body {
			display: block;
			width: auto;
			padding: 0;
		}

		.flag__img {
			margin-bottom: rhythm(1);
		}

		.flag__body {
			padding: 0 rem($gutter);
		}
	}
}