.site-footer {
	color: white;
	background: black;

	@include query-above($lap) {
		padding: rem(15px) rem(65px) 0 rem(65px);
	}

	> * {
		display: block;
		text-align: center;

		@include query-above($lap) {
			display: inline-block;
			vertical-align: middle;
			width: 33.33333%;
		}
	}

	a {
		// @todo maybe the color is in a $var, maybe it's not
		color: #CCCCCC;
		text-decoration: none;
	}
}

@include query-above($lap) {
	.site-info {
		text-align: left;
	}

	.back-to-top-wrapper {
		text-align: center;
	}

	.footer-menu {
		text-align: right;
	}
}

.nav--footer {
	@extend .nav;

	li {
		&:after {
			// @todo maybe the color is in a $var, maybe it's not
			color: #CCCCCC;
			content: "/";
			margin-left: 5px;
		}

		&:last-child:after {
			content: none;
		}
	}
}