.site-main {
	padding-bottom: 2*$gutter;

	@include query-above($lap) {
		padding: $gutter;
	}

	@include query-above(1360px) {
		padding: 2*$gutter;
	}
}

.grid,
.pagination {
	margin: 0 auto;
	max-width: 450px;

	@include query-above($lap) {
		max-width: 1000px;
		margin-top: 0;
	}

	@include query-above(1260px) {
		max-width: 1400px;
	}

	@include query-above(1800px) {
		max-width: 1800px;
	}
}

.grid {
	@extend .clearfix;
	// margin-top: $gutter;
	transition: height .3s ease-in-out;
	border-right: 0 solid transparent;

	// @include query-above($lap) {
	// 	border-right: $gutter solid transparent;
	// }
}

.grid__item {
	border-left: 0 solid transparent;
	margin-bottom: $gutter;

    @include query-above($lap) {
		float: left;
    	width: 50%;

    	&:nth-child(1), &:nth-child(3) {
    		margin-top: 50px;
    	}
    }

    @include query-above(1260px) {
    	width: 33.33%;
    }

    @include query-above(1800px) {
    	width: 25%;

		&:nth-child(4) {
			// margin-top: 50px;
		}
    }
}

.grid, .grid__item { 
	// border-color: rgba(yellow, 0.25);
}
