.site-main {
	@include query-above(800px) {
		padding: $gutter;
	}

	@include query-above(1200px) {
		padding: 2*$gutter;
	}
}

.grid {
	@extend .clearfix;
	max-width: 450px;
	margin: 0 auto;
	border-right: $gutter/2 solid transparent;

	@include query-above(800px) {
		max-width: 1000px; 
	}

	@include query-above(1200px) {
		max-width: 1400px;
	}

	@include query-above(1600px) {
		max-width: 1800px;
	}

	@include query-above($lap) {
		border-right: $gutter solid transparent;
	}
}

.grid__item {
	border-left: $gutter/2 solid transparent;
	margin-bottom: $gutter;

    @include query-above(400px) {
    }

    @include query-above(800px) {
		float: left;
    	width: 50%;

    	&:nth-child(2) {
    		margin-top: 50px;
    	}
    }

    @include query-above(1200px) {
    	width: 33.33%;
    }

    @include query-above(1600px) {
    	width: 25%;

		&:nth-child(4) {
			margin-top: 50px;
		}
    }

    @include query-above($lap) {
    	border-left-width: $gutter;
    }
}

.grid, .grid__item { 
	border-color: rgba(yellow, 0.25);
}
