.grid {
	@extend .clearfix;
	border-right: $gutter solid transparent;
	max-width: 1830px;

	@include query-above($lap) {
		margin: 96px auto;
	}
}

.grid__item {
	float: left;
	width: 100%;
	border-left: $gutter solid transparent;
	margin-bottom: 40px;

	@include query-above($small) {
		width: 50%;
	}

	@include query-above($lap) {
		width: 33.333333%;
	}

	@include query-above($desk) {
		width: 25%;
	}

	&:nth-child(2),
	&:nth-child(4) {
		margin-top: 50px;
	}
}

.grid, .grid__item{
	// border-color: rgba(yellow, 0.25);
}
