.overlay--search {
	display: table;
	position: fixed;
	top: 0; left: 100%;
	z-index: 101;
	@include rhythm(padding-right, 20);
	@include rhythm(padding-left, 20);
	width: 100%;
	height: 100%;
	background: white;
	border-left: 1px solid $borders;

	text-align: center;

	@include query-below($desk) {
		@include rhythm(padding-right, 8);
		@include rhythm(padding-left, 8);
	}

	@include query-below($lap) {
		&.overlay--search{
			@include rhythm(padding-right, 4);
			@include rhythm(padding-left, 4);
		}
	}

	.search-form > label {
		position: static;
		height: auto;

		&:after {
			content: "";
			
			height: 12px;
			width: 194px;
			display: block;
			margin: rem(20px) auto;
			
			background: url('assets/svg/separator-simple-inversed.svg') $secondary center center;
		}
	}

	.search-form, .search-field {
		display: block;
		height: auto;
	}

	.search-field, .search-submit {
		position: static;
	}

	.search-submit {
		display: none;
	}

	.search-field {
		@extend %alpha;

		border: 0;
		padding: 0;
		@include fs(100px);
		color: $black;
		outline: 0;
		height: auto;
		-webkit-appearance: none;
		text-align: center;

		@include placeholder {
			opacity: .5;
			color: $accent;
			font-style: italic;
		}

		@at-root {
			@include new-fs-class(60px, 'below', $desk, true);
			@include new-fs-class(24px, 'below', $lap, true);
		}

		@include fs-below($desk, 60px);

		@include query-below($lap) {
			@include fs(32px);
		}
	}
}

.overlay__wrapper {
	display: table-cell;
	vertical-align: middle;
}

.overlay__close {
	@include rhythm(width, 5);
	@include rhythm(height, 5);
	position: absolute;
	@include rhythm(top, 8);
	@include rhythm(right, 5);
	cursor: pointer;

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		background: $gray;
		transform: rotate(45deg);
		pointer-events: none;
	}

	&:before {
		top: 50%;
		width: 100%;
		height: .16em;
		margin-top: -.08em;
	}

	&:after {
		left: 50%;
		height: 100%;
		width: .16em;
		margin-left: -.08em;
	}

	@include query-below($desk) {
		@include rhythm(width, 3);
		@include rhythm(height, 3);
		@include rhythm(top, 6);
		@include rhythm(right, 3);
	}
}