.has_sidebar {
	.site-content .container {
		@extend %clearfix;
		position: relative;
	}

	.single-post & .site-main, .page & .site-main {
		max-width: none;
	}

	.content-area {
		width: 100%;
	}

	.sidebar {
		position: relative;
		@include rhythm(padding-top, 2);

		@include query-below($lap){
			border-top: 1px solid $gray;
			@include rhythm(padding-top, 4);
		}

		@include query-above($lap){
			@include rhythm(padding-bottom, 4);
		}
	}

	@include query-above($lap) {

		.content-area {
			float: right;
			margin-left: -30%;
		}

		.site-main {
			margin-left: 30%;
		}

		.sidebar {
			z-index: 5;
			float: left;
			width: 30%;

			padding-right: rem(2*$gutter);
		}
	}

	@include query-above($desk) {

		.content-area {
			margin-left: rem(-310px);
		}

		.site-main {
			@include rhythm(margin-left, 30);
			margin-left: rem(310px);
		}

		.sidebar {
			width: rem(310px);
			padding-right: rem(3*$gutter);
		}
	}
}