.nav--mega {

	.sub-menu {
		@extend %sub-menu;
		display: block; 
		text-align: center;
		color: $dark;

		@include query-above($lap) {
			font-size: rem(12px);

			.menu-item {
				border-bottom: 1px solid $borders;
			}
		}

		> .menu-item-has-children > a:after {
			border-top-color: transparent; 
			border-left-color: currentColor;
			border-width: rem(3px) rem(4px);
			right: 0;
			top: 50%;
			margin-top: rem(-4px);
		}

		li:last-child {
			border-bottom: 0;
		}
	}

	.menu-item {
		position: relative;

		&:hover,
		&.hover {
			z-index: 10;
		}
	}

	.menu-link {
		@extend %delta;
		// color: currentColor;
		display: inline-block;
		padding: rhythm(1) rhythm(1.5);

		@include query-above($lap) {
			display: inline-block;
			padding: rhythm(1) rhythm(1.5);
		}
	}

	.menu-item-has-children > a,
	.menu-item--mega > a {
		@extend %dropdown-arrow;
	}
}

.menu-item--mega {

	> a {
		z-index: 20;
	}

	.sub-menu-wrapper .sub-menu {

		> .menu-item {
			border-bottom-color: $borders;

			> a {
				color: $dark;
			}
		}
	}

	.entry-meta {
		@extend %gamma;
	}
 
	@include query-above($lap) {
		position: static !important;

		> .sub-menu-wrapper {
			max-width: 100%;
			border: 1px solid $borders;
			display: flex;
			flex-wrap: wrap;

			padding: rem($gutter);
			padding-bottom: 0;

			@include query-above($desk) {
				padding: rem($gutter-lap);
				padding-bottom: 0;
			}

			> * {
				margin-bottom: rem($gutter);

				@include query-above($desk) {
					margin-bottom: rem($gutter-lap);
				}
			}

			> .sub-menu {
				display: flex;
				flex-grow: 1;
				flex-direction: column;
				flex-shrink: 1;
				padding: rhythm(1/2) rhythm(1);
				font-size: 1rem;
				text-align: left;

				@include query-above($desk) {
					padding: rhythm(1/2) rhythm(1.5);
				}

				> li {
					display: flex;
					justify-content: center;
					flex-direction: column;
					flex-grow: 1;
				}
			}
		}

		.sub-menu-wrapper > .sub-menu {
			background-color: $accent;
			color: white;
			border: 0;

			> .menu-item {
				border-bottom-color: white;
				border-bottom-color: rgba(255,255,255,0.5);

				> a {
					color: white;
					padding: rem(14px) 0;
				}
			}

			> .menu-item:hover > a {
				color: $secondary;
			}
		}
	}
}

.menu-item--mega .sub-menu-wrapper > .sub-menu > .menu-item > .sub-menu {
	top: 50%;
	margin-top: rhythm(-3/2);
}

.submenu__card {
	width: rem(300px);
	flex-grow: 1;
	flex-shrink: 1;

	.sub-menu + & {
		margin-left: rem($gutter-lap);

		@include query-above($desk) {
			// margin-left: rem(55px);
			margin-left: rem($gutter-desk);
		}
	}
}


.submenu__thumbs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	margin-top: rem($gutter);

	list-style: none;

	@include query-above(1200px) {
		width: rem(360px);
		padding-left: rem($gutter);
		margin-left: rem($gutter);
		border-left: 1px solid $borders;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 0;

		> li {
			margin-bottom: rem($gutter);
			flex-grow: 0;
		}
	}

	@include query-above($desk) {
		padding-left: rem($gutter-lap);
		margin-left: rem($gutter-lap);
	}

	.ie9 & {
		display: inline-block;
		vertical-align: middle;
	}

	> li {
		flex-grow: 1;
		
		@include query-below($desk) {
			margin-left: rem($gutter);

			&:first-child {
				margin-left: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		.flag__img {
			vertical-align: top;
		}
	}
}