.nav--floating {
	@extend %nav--social;
	position: fixed;
	top: 50%;
	background: white;
	border: 1px solid transparent;
	z-index: 10;
	padding: rhythm(4/9);

	li {
		position: relative;
		width: rhythm(1);
		&:before { content: " "; }
		overflow: hidden;
		padding-left: 0.25em;
		opacity: 0;
		transition: all .3s ease-out;
	}

	a {
		white-space: nowrap;
		visibility: hidden;
		color: $dark;
	}

	a:before {
		content: $fa-var-share-alt;
		font-size: rem(19px);
		visibility: visible;
	}

	@include query-below($lap) {
		display: none;
	}

	@for $i from 1 through 10 {
		li:nth-child( #{$i} ) {
			transition-delay: $i * 20ms;
		}
	}
}

.nav--floating--left {
	border-left: 0;
	left: 0;

	li {
		transform: translate(-200%, 0);
	}

	a {
		right: 100%;
	}

	a:before {
		right: rhythm(-1);
	}
}

.nav--floating--right {
	border-right: 0;
	right: 0;

	li {
		transform: translate(200%, 0);
	}

	a {
		left: 100%;
	}

	a:before {
		left: rhythm(-1);
	}
}

.nav--floating--is-visible {
	transition: border-color .3s ease-in-out;
	border-color: $borders;

	li {
		transition: all .3s ease-in;
		opacity: 1;
		transform: none;
	}
}