// Posts Meta (categories, author and date)
.entry-meta {
		@extend %beta;
		z-index: 31;
		position: relative;

		margin-bottom: rem(14px);

		font-size: rem(13px);
		letter-spacing: 0.1em;
		text-transform: uppercase;

		*{
			// removed due to display: none; override to [hidden] attribute
			// display: inline-block;
		}
	}

	// Categories
	.cat-links {
		margin-right: rem(10px);
		padding: rem(6px) rem(14px);
		background-color: $accent;
	}

	// Author
	.byline {
		color: $dark;
		text-transform: capitalize;

		.author {
			text-transform: uppercase;
		}
	}

	// Date
	.posted-on {
		display: inline-block;
		
		margin-left: 4px;
		color: $light;

		a {
			font-weight: 300;
			color: currentColor;
		}

		&:before {
			content: "/";
			margin-right: 4px;
		}
	}

		.entry-time {
			&:before {
				content: "@";
				margin: 0 5px;
			}
		}

		.updated {
			margin-left: 10px;
		}