@include query-above($lap) {
	body {
		border: $gutter/2 solid black;
		border-bottom: 0;
	}
}


// Posts Meta (categories, author and date)
.entry-meta {
	@extend %beta;
	z-index: 31;
	position: relative;

	margin-bottom: 10px;

	font-size: 13px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

// Categories
.cat-links {
	margin-right: 10px;
	padding: 6px 14px;
	background-color: $accent;
}

// Author
.byline {
	color: $dark;
	text-transform: capitalize;

	.author {
		text-transform: uppercase;
	}
}

// Date
.posted-on {
	display: inline-block;
	
	margin-left: 4px;
	color: $light;

	a {
		font-weight: 300;
		color: currentColor;
	}

	&:before {
		content: "/";
		margin-right: 4px;
	}
}

.entry-time {
	&:before {
		content: "@";
		margin: 0 5px;
	}
}

@include query-above($small) {
	.nav-links div {
		width: 50%;
		display: inline-block;
	}

	.nav-next {
		text-align: right;
	}

	.nav-next:nth-child(1) {
		margin-left: 50%;
	}
}