.single, .page:not(.entry-card) {
	@include query-below($lap) {
		.site-content {
			padding: 0 rem(45px);
			padding-bottom: rem($gutter);
		}

		.entry-header {
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
		}
	}

	@include query-above($lap) {
		.site-content {
			padding-top: rem(60px);
			padding-bottom: rem(140px);
		}

		.site-main {
			padding: 0 6*$gutter;
		}
	}

	.container {
		max-width: 1284px;
		margin: 0 auto;
	}

	.entry-featured {
		margin-top: $gutter;
		margin-bottom: $gutter;
	}

	.entry-image--landscape,
	.entry-image--wide {

		@include query-above($lap) {
			padding-top: $gutter;

			.entry-header {
				margin-left: -3*$gutter;
				margin-right: -3*$gutter;
			}
		}

		.entry-featured {
			margin: $gutter 0;

			@include query-above($lap) {
				margin: $gutter -6*$gutter;
			}

			img {
				width: 100%;
			}
		}
	}

	.entry-image--wide {
		margin: 0;
	}

	.entry-image--portrait,
	.entry-image--tall {
		max-width: none;
		float: none;
		margin-right: 0;

		.entry-featured {
			margin-bottom: $gutter;

			@include query-above($lap) {
				float: left;
				margin: 0 $gutter $gutter -6 * $gutter;
				max-width: 70%;
			}

			img {
				width: 100%;
			}
		}

		.entry-content {
			clear: right;
		}

		.entry-header {
			@include query-above($lap) {
				margin-right: -3*$gutter;
			}
			@include rhythm(margin-bottom, 2.5);
		}
	}

	.entry-header {
		@include rhythm(margin-bottom, 2);
	}

	.entry-meta {
		position: static;
	}

	.entry-meta > * {
		display: inline-block;
		margin-bottom: 5px;
	}
}