
// border 30 + padding 120 + sidebar 310 + content 620 = 1080
// 												 + 180 = 1260
// 												 + 360 = 1440

.single, .page:not(.entry-card) {

	.hentry,
	.comments-area,
	.comment-respond {
		max-width: 620px;
		margin: 0 auto;
	}

	@include query-below($lap) {
		.site-content {
			padding: 0 45px;
			padding-bottom: 30px;
		}

		.entry-header {
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
		}

		.entry-featured {
			margin-left: -45px;
			margin-right: -45px;
		}
	}

	@include query-above($lap) {
		.site-content {
			padding: 60px;
		}
	}

	@include query-above(1260px) {
		.site-main {
			padding: 0 3*$gutter;
		}
	}

	@include query-above(1440px) {
		.site-main {
			padding: 0 6*$gutter;
		}
	}

	.entry-featured {
		margin-top: $gutter;
		margin-bottom: $gutter;
	}

	.entry-image--landscape,
	.entry-image--wide {

		@include query-above($lap) {
			padding-top: $gutter;
		}

		@include query-above(1260px) {
			.entry-header {
				margin-left: -1.5*$gutter;
				margin-right: -1.5*$gutter;
			}
		}

		@include query-above(1440px) {
			.entry-header {
				margin-left: -3*$gutter;
				margin-right: -3*$gutter;
			}
		}

		.entry-featured {
			margin-top: $gutter;
			margin-bottm: $gutter;

			@include query-above(1260px) {
				margin: $gutter -3*$gutter;
			}

			@include query-above(1440px) {
				margin: $gutter -6*$gutter;
			}

			img {
				width: 100%;
			}
		}
	}

	.entry-image--wide, .entry-image--square {
		margin: 0;
	}

	.entry-image--portrait,
	.entry-image--tall {
		// max-width: none;
		float: none;
		// margin-right: 0; 

		.entry-featured {
			margin-bottom: $gutter;

			@include query-above($lap) {
				float: left;
				margin: 0 $gutter $gutter 0;
				max-width: 40%;	
			}

			@include query-above(1260px) {
				margin-left: -3*$gutter;
				max-width: 50%;
			}

			@include query-above(1440px) {
				margin-left: -6*$gutter;
				max-width: 70%;
			}

			img {
				width: 100%;
			}
		}

		.entry-content {
			clear: right;
		}

		.entry-header {
			@include query-above(1260px) {
				margin-right: -1.5*$gutter;
			}
			@include query-above(1440px) {
				margin-right: -3*$gutter;
			}
			@include rhythm(margin-bottom, 2.5);
		}
	}

	.entry-header {
		@include rhythm(margin-bottom, 2);
	}

	.entry-meta {
		position: static;
	}

	.entry-meta > * {
		display: inline-block;
		margin-bottom: 5px;
	}
}