.intro {
    font-size: rem(18px);
    font-weight: 500;
    line-height: 1.75;

    @include query-below($lap) {
        font-size: 1.2em;
        color: #000000;
    }
}

@include query-above(1000px){
    .twocolumn {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
    }
}

.dropcap {
    @extend %beta;


    float: left;
    @include rhythm(margin-bottom, 0.2, 74px);
    @include rhythm(margin-right, 1, 74px);

    @include font-size(74px);
    font-weight: 200;
    line-height: 1;

    color: $dark;
    text-shadow: 2px 2px 0px white, 4px 4px 0px $accent;
}

// span.dropcap{ font-weight: bold; }

.highlight{
    background: $accent;
    padding: 3px 6px;
}

.pull-left {
    margin-left: -6 * $gutter;
    width: calc(6 * #{$gutter} + 50%);
    padding-right: 20px;
    padding-left: 1.5*$gutter;
    float: left;

    text-align: right;
}

.pull-right {
    margin-right: -6 * $gutter;
    width: calc(6 * #{$gutter} + 50%);
    padding-left: 20px;
    padding-right: 1.5*$gutter;
    float: right;

    text-align: left;
}