.intro {
    font-size: rem(18px);
    font-weight: 500;
    line-height: 1.75;

    @include query-below($lap) {
        font-size: 1.2em;
        color: #000000;
    }
}

@include query-above(1000px){
    .twocolumn {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 50px;
        -moz-column-gap: 2*$gutter;
        column-gap: 2*$gutter;
    }
}

.dropcap {
    @extend %beta;


    float: left;
    @include rhythm(margin-bottom, 0.2, 74px);
    @include rhythm(margin-right, 1, 74px);

    @include font-size(74px);
    font-weight: 200;
    line-height: 1;

    color: $dark;
    text-shadow: 2px 2px 0px white, 4px 4px 0px $accent;
}

// span.dropcap{ font-weight: bold; }

.highlight{
    position: relative;
    padding: 0 8px;
    margin: 0 4px;

    &:before{
        content: "";

        position: absolute;
        z-index: -1;

        top: -4px; left: 0;
        bottom: -4px; right: 0;

        background: rgba($accent, 0.4);
    }
}

.pull-left {
    margin-left: -6 * $gutter;
    width: calc(6 * #{$gutter} + 50%);
    padding-right: $gutter;
    float: left;

    text-align: right;

}

.pull-right {
    margin-right: -6 * $gutter;
    width: calc(6 * #{$gutter} + 50%);
    padding-left: $gutter;
    float: right;

    text-align: left;
}